<div id="boggle">
	<ul>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
	</ul>
	<ul>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
	</ul>
	<ul>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
	</ul>
	<ul>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
		<li>
			<boggle-letter></boggle-letter>
		</li>
	</ul>
	<button ng-click="boggleCtrl.buttonClick()">{{boggleCtrl.buttonText}}</button>
</div>